// Import bootstrap
@import "~bootstrap/scss/bootstrap";

// Importy 98.css from node
@import "https://unpkg.com/98.css";

.index-page-container{

}

// Header
.header-main{
    height: 100px;

    .header-row{

        .header-back-link{
            padding-top: 30px;

            a{
                text-decoration: none;
                color: black;
            }
        }

        .header-logo{
            padding-top: 30px;
            text-align: center;

            a{
                text-decoration: none;
                color: black;
            }
        }

        .header-nav{
            padding-top: 30px;

            ul{
                padding: 0px;
                margin: 0px;

                text-align: right;

                li{
                    display: inline;
                    list-style: none;

                    a{
                        text-decoration: none;
                        color: black;
                    }   
                }
            }
        }
    }
}

.sub-page-container{
    padding: 50px;

    .header{
        padding-bottom: 50px;

        h1{
            text-align: center;
        }

        p{
            text-align: center;
        }
    }

    .section-row{
        padding: 0px;
        margin-bottom: 30px;

        .container{

            h2{

                
            }

            p{
                padding-top: 10px;
                padding-bottom: 20px;

            }

            .img-hold{
                text-align: center;

                img{
                    max-width: 100%;
                    height: auto;
                }
            }
        }
    }
}

.main-window{
    // position centered vertically
    position: absolute;
    top: 30%;
    transform: translateY(-30%);

    // position centered horizontally
    left: 50%;
    transform: translateX(-50%);

    .window-body{

        .window{

            .window-tab-body{
                padding: 5px;

                .window-tab{
                    background: white;
                    height: 300px;

                    // Inset border left and top
                    border-left: 1px solid #000;
                    border-top: 1px solid #000;

                    // Outset border right and bottom
                    border-right: 1px solid #fff;
                    border-bottom: 1px solid #fff;

                    display: none;

                    &.show{
                        display: block;
                    }

                    ul{
                        padding: 0px;
                        margin: 0px;

                        li{
                            list-style-type: none;
                            padding: 10px;
                            border-bottom: 1px solid #000;

                            cursor: pointer;

                            a{
                                text-decoration: none;
                                color: black;
                            }
                        }
                    }
                }
            }
        }
    }
}

.window{
    padding: 5px;
}